<div id="content" class="mw-body" role="main">
    <a id="top"></a>
    <div id="siteNotice" class="mw-body-content">
        <!-- CentralNotice -->
    </div>
    <div class="mw-indicators mw-body-content">
    </div>
    <h1 id="firstHeading" class="firstHeading" lang="en"><i>Title</i></h1>
    <div id="bodyContent" class="mw-body-content">
        <div id="siteSub" class="noprint">From Wikipedia, the free encyclopedia</div>
        <div id="contentSub"></div>
        <div id="contentSub2"></div>

        <div id="jump-to-nav"></div>
        <a class="mw-jump-link" href="Nix_v._Hedden.html#mw-head">Jump to navigation</a>
        <a class="mw-jump-link" href="Nix_v._Hedden.html#searchInput">Jump to search</a>
        <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
            <div class="mw-parser-output">
                <div class="shortdescription nomobile noexcerpt noprint searchaux" style="display:none">United
                    States Supreme Court case</div>

                <!--box-->

                <app-infobox></app-infobox>




                <p>Text
                </p>
                <div id="toc" class="toc" role="navigation" aria-labelledby="mw-toc-heading"><input type="checkbox"
                        role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none" />
                    <div class="toctitle" lang="en" dir="ltr">
                        <h2 id="mw-toc-heading">Contents</h2><span class="toctogglespan"><label class="toctogglelabel"
                                for="toctogglecheckbox"></label></span>
                    </div>
                    <ul>
                        <li class="toclevel-1 tocsection-1"><a href="Nix_v._Hedden.html#Background_of_the_case"><span
                                    class="tocnumber">1</span>
                                <span class="toctext">Background of the case</span></a></li>
                        <li class="toclevel-1 tocsection-2"><a href="Nix_v._Hedden.html#The_Court's_decision"><span
                                    class="tocnumber">2</span> <span class="toctext">The Court's decision</span></a>
                        </li>
                        <li class="toclevel-1 tocsection-3"><a href="Nix_v._Hedden.html#Subsequent_jurisprudence"><span
                                    class="tocnumber">3</span>
                                <span class="toctext">Subsequent jurisprudence</span></a></li>
                        <li class="toclevel-1 tocsection-4"><a href="Nix_v._Hedden.html#See_also"><span
                                    class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
                        <li class="toclevel-1 tocsection-5"><a href="Nix_v._Hedden.html#Notes"><span
                                    class="tocnumber">5</span> <span class="toctext">Notes</span></a></li>
                        <li class="toclevel-1 tocsection-6"><a href="Nix_v._Hedden.html#References"><span
                                    class="tocnumber">6</span> <span class="toctext">References</span></a></li>
                        <li class="toclevel-1 tocsection-7"><a href="Nix_v._Hedden.html#External_links"><span
                                    class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
                    </ul>
                </div>

                <!---->

                <h2><span class="mw-headline" id="Background_of_the_case">Subtitle</span><span
                        class="mw-editsection"><span class="mw-editsection-bracket">[</span><a
                            href="https://en.wikipedia.org/w/index.php?title=Nix_v._Hedden&action=edit&section=1"
                            title="Edit section: Background of the case">edit</a><span
                            class="mw-editsection-bracket">]</span></span></h2>
                <table
                    class="box-More_citations_needed_section plainlinks metadata ambox ambox-content ambox-Refimprove"
                    role="presentation">
                    <tbody>
                        <tr>
                            <td class="mbox-image">
                                <div style="width:52px"><a href="File-Question_book-new.svg.html" class="image"><img
                                            alt=""
                                            src="https://upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png"
                                            decoding="async" width="50" height="39"
                                            srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/75px-Question_book-new.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/100px-Question_book-new.svg.png 2x"
                                            data-file-width="512" data-file-height="399" /></a></div>
                            </td>
                            <td class="mbox-text">
                                <div class="mbox-text-span">This section <b>needs additional citations for <a
                                            href="Wikipedia-Verifiability.html"
                                            title="Wikipedia:Verifiability">verification</a></b>.<span
                                        class="hide-when-compact"> Please help <a class="external text"
                                            href="https://en.wikipedia.org/w/index.php?title=Nix_v._Hedden&action=edit">improve
                                            this article</a> by <a href="Help-Referencing_for_beginners.html"
                                            title="Help:Referencing for beginners">adding citations to reliable
                                            sources</a>. Unsourced material may be challenged and removed.</span>
                                    <small class="date-container"><i>(<span class="date">May
                                                2014</span>)</i></small><small class="hide-when-compact"><i> (<a
                                                href="Help-Maintenance_template_removal.html"
                                                title="Help:Maintenance template removal">Learn how and when to
                                                remove this template message</a>)</i></small>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>Text
                </p>

                <!---->

                <h2><span id="The_Court.27s_decision"></span><span class="mw-headline"
                        id="The_Court's_decision">Subtitle</span><span class="mw-editsection"><span
                            class="mw-editsection-bracket">[</span><a
                            href="https://en.wikipedia.org/w/index.php?title=Nix_v._Hedden&action=edit&section=2"
                            title="Edit section: The Court&#039;s decision">edit</a><span
                            class="mw-editsection-bracket">]</span></span></h2>
                <div class="thumb tright">
                    <div class="thumbinner" style="width:222px;"><a
                            href="File-Bright_red_tomato_and_cross_section02.jpg.html" class="image"><img alt=""
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Bright_red_tomato_and_cross_section02.jpg/220px-Bright_red_tomato_and_cross_section02.jpg"
                                decoding="async" width="220" height="147" class="thumbimage"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Bright_red_tomato_and_cross_section02.jpg/330px-Bright_red_tomato_and_cross_section02.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/88/Bright_red_tomato_and_cross_section02.jpg/440px-Bright_red_tomato_and_cross_section02.jpg 2x"
                                data-file-width="1600" data-file-height="1067" /></a>
                        <div class="thumbcaption">
                            <div class="magnify"><a href="File-Bright_red_tomato_and_cross_section02.jpg.html"
                                    class="internal" title="Enlarge"></a></div>Image
                        </div>
                    </div>
                </div>
                <p>Text
                </p>

                <!---->

                <h2><span class="mw-headline" id="Subsequent_jurisprudence">Subtitle</span><span
                        class="mw-editsection"><span class="mw-editsection-bracket">[</span><a
                            href="https://en.wikipedia.org/w/index.php?title=Nix_v._Hedden&action=edit&section=3"
                            title="Edit section: Subsequent jurisprudence">edit</a><span
                            class="mw-editsection-bracket">]</span></span></h2>
                <p>Text
                </p>
                <h2><span class="mw-headline" id="See_also">Subtitle</span><span class="mw-editsection"><span
                            class="mw-editsection-bracket">[</span><a
                            href="https://en.wikipedia.org/w/index.php?title=Nix_v._Hedden&action=edit&section=4"
                            title="Edit section: See also">edit</a><span class="mw-editsection-bracket">]</span></span>
                </h2>
                <ul>
                    <li><a href="Carrot.html" title="Carrot">Carrot</a> &#8211; defined to be a fruit in <a
                            href="European_Union_law.html" title="European Union law">European Union law</a>, for
                        the purpose of <a href="Jam.html" class="mw-redirect" title="Jam">jam</a> classification;
                        Annex III(A)(1), Council Directive 2001/113/EC of 20 December 2001 relating to fruit jams,
                        jellies and marmalades and sweetened chestnut purée intended for human consumption</li>
                    <li><a href="Ketchup_as_a_vegetable.html" title="Ketchup as a vegetable">Ketchup as a
                            vegetable</a></li>
                    <li><a href="Jaffa_Cakes.html#Categorisation_as_cake_or_biscuit_for_VAT" title="Jaffa Cakes">Jaffa
                            Cakes</a>, the subject of a 1991 UK tribunal which decided
                        that they were cakes, rather than biscuits (cookies), which would attract <a
                            href="Value-added_tax_(United_Kingdom).html" class="mw-redirect"
                            title="Value-added tax (United Kingdom)">value-added tax</a>.</li>
                    <li><i><a href="Toy_Biz_v._United_States.html" class="mw-redirect"
                                title="Toy Biz v. United States">Toy
                                Biz v. United States</a></i> &#8211; decided
                        that action figures of certain <a href="Superhero.html" title="Superhero">superheroes</a>
                        are legally <a href="Toy.html" title="Toy">toys</a>, not <a href="Doll.html"
                            title="Doll">dolls</a>
                    </li>
                    <li><a href="List_of_United_States_Supreme_Court_cases,_volume_149.html"
                            title="List of United States Supreme Court cases, volume 149">List of United States
                            Supreme Court cases, volume 149</a></li>
                </ul>

                <!---->

                <h2><span class="mw-headline" id="Notes">Subtitle</span><span class="mw-editsection"><span
                            class="mw-editsection-bracket">[</span><a
                            href="https://en.wikipedia.org/w/index.php?title=Nix_v._Hedden&action=edit&section=5"
                            title="Edit section: Notes">edit</a><span class="mw-editsection-bracket">]</span></span>
                </h2>
                <div class="reflist" style="list-style-type: decimal;">
                    <div class="mw-references-wrap">
                        <ol class="references">
                            <li id="cite_note-1"><span class="mw-cite-backlink"><b><a
                                            href="Nix_v._Hedden.html#cite_ref-1">^</a></b></span> <span
                                    class="reference-text"><i>Nix v. Hedden</i>,&#32;<a
                                        href="List_of_United_States_Supreme_Court_cases,_volume_149.html"
                                        title="List of United States Supreme Court cases, volume 149">149</a>&#32;<a
                                        href="United_States_Reports.html" title="United States Reports">U.S.</a> <a
                                        rel="nofollow" class="external text"
                                        href="https://supreme.justia.com/cases/federal/us/149/304/">304</a>&#32;(1893).</span>
                            </li>
                            <li id="cite_note-2"><span class="mw-cite-backlink"><b><a
                                            href="Nix_v._Hedden.html#cite_ref-2">^</a></b></span> <span
                                    class="reference-text">
                                    <style data-mw-deduplicate="TemplateStyles:r999302996">
                                        .mw-parser-output cite.citation {
                                            font-style: inherit
                                        }

                                        .mw-parser-output .citation q {
                                            quotes: "\"""\"""'""'"
                                        }

                                        .mw-parser-output .id-lock-free a,
                                        .mw-parser-output .citation .cs1-lock-free a {
                                            background: linear-gradient(transparent, transparent), url("https://upload.wikimedia.org/wikipedia/commons/6/65/Lock-green.svg")right 0.1em center/9px no-repeat
                                        }

                                        .mw-parser-output .id-lock-limited a,
                                        .mw-parser-output .id-lock-registration a,
                                        .mw-parser-output .citation .cs1-lock-limited a,
                                        .mw-parser-output .citation .cs1-lock-registration a {
                                            background: linear-gradient(transparent, transparent), url("https://upload.wikimedia.org/wikipedia/commons/d/d6/Lock-gray-alt-2.svg")right 0.1em center/9px no-repeat
                                        }

                                        .mw-parser-output .id-lock-subscription a,
                                        .mw-parser-output .citation .cs1-lock-subscription a {
                                            background: linear-gradient(transparent, transparent), url("https://upload.wikimedia.org/wikipedia/commons/a/aa/Lock-red-alt-2.svg")right 0.1em center/9px no-repeat
                                        }

                                        .mw-parser-output .cs1-subscription,
                                        .mw-parser-output .cs1-registration {
                                            color: #555
                                        }

                                        .mw-parser-output .cs1-subscription span,
                                        .mw-parser-output .cs1-registration span {
                                            border-bottom: 1px dotted;
                                            cursor: help
                                        }

                                        .mw-parser-output .cs1-ws-icon a {
                                            background: linear-gradient(transparent, transparent), url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Wikisource-logo.svg")right 0.1em center/12px no-repeat
                                        }

                                        .mw-parser-output code.cs1-code {
                                            color: inherit;
                                            background: inherit;
                                            border: none;
                                            padding: inherit
                                        }

                                        .mw-parser-output .cs1-hidden-error {
                                            display: none;
                                            font-size: 100%
                                        }

                                        .mw-parser-output .cs1-visible-error {
                                            font-size: 100%
                                        }

                                        .mw-parser-output .cs1-maint {
                                            display: none;
                                            color: #33aa33;
                                            margin-left: 0.3em
                                        }

                                        .mw-parser-output .cs1-format {
                                            font-size: 95%
                                        }

                                        .mw-parser-output .cs1-kern-left,
                                        .mw-parser-output .cs1-kern-wl-left {
                                            padding-left: 0.2em
                                        }

                                        .mw-parser-output .cs1-kern-right,
                                        .mw-parser-output .cs1-kern-wl-right {
                                            padding-right: 0.2em
                                        }

                                        .mw-parser-output .citation .mw-selflink {
                                            font-weight: inherit
                                        }
                                    </style><cite class="citation journal cs1"><a rel="nofollow" class="external text"
                                            href="https://books.google.com/books?id=xtlKAQAAMAAJ&q=john+nix+fruit+commission&pg=PA110">"Virginia
                                            Truck Farms: How They Supply Food For The Great Cities"</a>. <i>Fruit
                                            Trade Journal and Produce Record</i>. <b>56</b>: 14. January 20,
                                        1917<span class="reference-accessdate">. Retrieved <span class="nowrap">4
                                                October</span> 2016</span>.</cite><span
                                        title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.jtitle=Fruit+Trade+Journal+and+Produce+Record&amp;rft.atitle=Virginia+Truck+Farms%3A+How+They+Supply+Food+For+The+Great+Cities.&amp;rft.volume=56&amp;rft.pages=14&amp;rft.date=1917-01-20&amp;rft_id=https%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DxtlKAQAAMAAJ%26q%3Djohn%2Bnix%2Bfruit%2Bcommission%26pg%3DPA110&amp;rfr_id=info%3Asid%2Fen.wikipedia.org%3ANix+v.+Hedden"
                                        class="Z3988"></span>
                                </span>
                            </li>
                            <li id="cite_note-3"><span class="mw-cite-backlink"><b><a
                                            href="Nix_v._Hedden.html#cite_ref-3">^</a></b></span> <span
                                    class="reference-text">
                                    <link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r999302996" />
                                    <cite class="citation web cs1"><a rel="nofollow" class="external text"
                                            href="http://eol.org/pages/392557/overview">"Garden Tomato - Solanum
                                            lycopersicum - Overview - Encyclopedia of Life"</a>. <i>Encyclopedia of
                                            Life</i><span class="reference-accessdate">. Retrieved <span
                                                class="nowrap">2017-07-30</span></span>.</cite><span
                                        title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=unknown&amp;rft.jtitle=Encyclopedia+of+Life&amp;rft.atitle=Garden+Tomato+-+Solanum+lycopersicum+-+Overview+-+Encyclopedia+of+Life&amp;rft_id=http%3A%2F%2Feol.org%2Fpages%2F392557%2Foverview&amp;rfr_id=info%3Asid%2Fen.wikipedia.org%3ANix+v.+Hedden"
                                        class="Z3988"></span>
                                </span>
                            </li>
                            <li id="cite_note-4"><span class="mw-cite-backlink"><b><a
                                            href="Nix_v._Hedden.html#cite_ref-4">^</a></b></span> <span
                                    class="reference-text">149 U.S. at 305.</span>
                            </li>
                            <li id="cite_note-5"><span class="mw-cite-backlink"><b><a
                                            href="Nix_v._Hedden.html#cite_ref-5">^</a></b></span> <span
                                    class="reference-text">
                                    <link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r999302996" />
                                    <cite class="citation news cs1"><a rel="nofollow" class="external text"
                                            href="http://mentalfloss.com/article/24881/are-tomatoes-fruits-or-vegetables">"Are
                                            Tomatoes Fruits or Vegetables?"</a>. 2010-06-09<span
                                            class="reference-accessdate">. Retrieved <span
                                                class="nowrap">2017-07-30</span></span>.</cite><span
                                        title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Are+Tomatoes+Fruits+or+Vegetables%3F&amp;rft.date=2010-06-09&amp;rft_id=http%3A%2F%2Fmentalfloss.com%2Farticle%2F24881%2Fare-tomatoes-fruits-or-vegetables&amp;rfr_id=info%3Asid%2Fen.wikipedia.org%3ANix+v.+Hedden"
                                        class="Z3988"></span>
                                </span>
                            </li>
                            <li id="cite_note-6"><span class="mw-cite-backlink"><b><a
                                            href="Nix_v._Hedden.html#cite_ref-6">^</a></b></span> <span
                                    class="reference-text">State of New Jersey, 212th Legislature, No. A1210</span>
                            </li>
                        </ol>
                    </div>
                </div>

                <!---->

                <h2><span class="mw-headline" id="References">References</span><span class="mw-editsection"><span
                            class="mw-editsection-bracket">[</span><a
                            href="https://en.wikipedia.org/w/index.php?title=Nix_v._Hedden&action=edit&section=6"
                            title="Edit section: References">edit</a><span
                            class="mw-editsection-bracket">]</span></span>
                </h2>
                <ul>
                    <li><a href="File-Wikisource-logo.svg.html" class="image"><img alt=""
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/15px-Wikisource-logo.svg.png"
                                decoding="async" width="15" height="16" class="noviewer"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/23px-Wikisource-logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/30px-Wikisource-logo.svg.png 2x"
                                data-file-width="410" data-file-height="430" /></a> Works related to <a
                            href="https://en.wikisource.org/wiki/Special:Search/Nix_v._Hedden" class="extiw"
                            title="wikisource:Special:Search/Nix v. Hedden">Nix v. Hedden</a> at Wikisource</li>
                </ul>
                <h2><span class="mw-headline" id="External_links">External links</span><span
                        class="mw-editsection"><span class="mw-editsection-bracket">[</span><a
                            href="https://en.wikipedia.org/w/index.php?title=Nix_v._Hedden&action=edit&section=7"
                            title="Edit section: External links">edit</a><span
                            class="mw-editsection-bracket">]</span></span></h2>
                <ul>
                    <li>Text of <i>Nix v. Hedden</i>, <a
                            href="List_of_United_States_Supreme_Court_cases,_volume_149.html"
                            title="List of United States Supreme Court cases, volume 149">149</a>&#32;<a
                            href="United_States_Reports.html" title="United States Reports">U.S.</a> 304&#32;(1893)
                        is available from: <span class="nowrap">&#160;</span><a rel="nofollow" class="external text"
                            href="https://caselaw.findlaw.com/us-supreme-court/149/304.html">Findlaw</a><span
                            class="nowrap">&#160;</span><span class="nowrap">&#160;</span><a rel="nofollow"
                            class="external text"
                            href="https://supreme.justia.com/cases/federal/us/149/304/">Justia</a><span
                            class="nowrap">&#160;</span><span class="nowrap">&#160;</span><a rel="nofollow"
                            class="external text"
                            href="http://cdn.loc.gov/service/ll/usrep/usrep149/usrep149304/usrep149304.pdf">Library
                            of Congress</a><span class="nowrap">&#160;</span></li>
                    <li><a rel="nofollow" class="external text"
                            href="https://web.archive.org/web/20060404112435/http:/www.cit.uscourts.gov/slip_op/Slip_op00/00-112.pdf"><i>Rocknel
                                Fastener, Inc. v. United States</i></a> &#8211; 34 page PDF covering a similar case
                        hinging on the difference between <a href="Screw.html" title="Screw">screws</a> and bolts.
                        The difference is outlined in a 21-page PDF <a rel="nofollow" class="external text"
                            href="https://web.archive.org/web/20160303225319/http:/www.cbp.gov/sites/default/files/documents/icp013_3.pdf">Distinguishing
                            Bolts From Screws</a>.</li>
                </ul>
                <!-- 
NewPP limit report
Parsed by mw1384
Cached time: 20210111004157
Cache expiry: 3600
Dynamic content: true
Complications: [vary‐revision‐sha1]
CPU time usage: 0.404 seconds
Real time usage: 0.540 seconds
Preprocessor visited node count: 7390/1000000
Post‐expand include size: 40033/2097152 bytes
Template argument size: 18907/2097152 bytes
Highest expansion depth: 18/40
Expensive parser function count: 6/500
Unstrip recursion depth: 1/20
Unstrip post‐expand size: 10908/5000000 bytes
Lua time usage: 0.136/10.000 seconds
Lua memory usage: 3450847/52428800 bytes
Number of Wikibase entities loaded: 0/400
-->
                <!--
Transclusion expansion time report (%,ms,calls,template)
100.00%  479.528      1 -total
 51.10%  245.041      1 Template:Infobox_SCOTUS_case
 33.76%  161.909      1 Template:Infobox
 25.13%  120.510      1 Template:Reflist
 24.25%  116.302      1 Template:If_either
 23.46%  112.500      1 Template:Infobox_SCOTUS_case/courts
 19.26%   92.380      1 Template:Cite_journal
 17.04%   81.703    224 Template:If_between
 14.43%   69.179      1 Template:Short_description
 10.31%   49.457      1 Template:More_citations_needed_section
-->

                <!-- Saved in parser cache with key enwiki:pcache:idhash:1190920-0!canonical and timestamp 20210111004156 and revision id 996113290. Serialized with JSON.
 -->
            </div><noscript><img src="https://en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1" alt=""
                    title="" width="1" height="1" style="border: none; position: absolute;" /></noscript>
            <div class="printfooter">Retrieved from "<a dir="ltr"
                    href="https://en.wikipedia.org/w/index.php?title=Nix_v._Hedden&oldid=996113290">https://en.wikipedia.org/w/index.php?title=Nix_v._Hedden&amp;oldid=996113290</a>"
            </div>
        </div>
        <div id="catlinks" class="catlinks" data-mw="interface">
            <div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="Help-Category.html"
                    title="Help:Category">Categories</a>: <ul>
                    <li><a href="Category-Collectors_of_the_Port_of_New_York.html"
                            title="Category:Collectors of the Port of New York">Collectors of the Port of New
                            York</a></li>
                    <li><a href="Category-Tomatoes.html" title="Category:Tomatoes">Tomatoes</a></li>
                    <li><a href="Category-United_States_statutory_interpretation_case_law.html"
                            title="Category:United States statutory interpretation case law">United States statutory
                            interpretation case law</a></li>
                    <li><a href="Category-United_States_Supreme_Court_cases.html"
                            title="Category:United States Supreme Court cases">United States Supreme Court cases</a>
                    </li>
                    <li><a href="Category-United_States_Supreme_Court_cases_of_the_Fuller_Court.html"
                            title="Category:United States Supreme Court cases of the Fuller Court">United States
                            Supreme Court cases of the Fuller Court</a></li>
                    <li><a href="Category-1893_in_United_States_case_law.html"
                            title="Category:1893 in United States case law">1893 in United States case law</a></li>
                </ul>
            </div>
            <div id="mw-hidden-catlinks" class="mw-hidden-catlinks mw-hidden-cats-hidden">Hidden categories: <ul>
                    <li><a href="Category-CS1-_Julian%E2%80%93Gregorian_uncertainty.html"
                            title="Category:CS1: Julian–Gregorian uncertainty">CS1: Julian–Gregorian uncertainty</a>
                    </li>
                    <li><a href="Category-Articles_with_short_description.html"
                            title="Category:Articles with short description">Articles with short description</a>
                    </li>
                    <li><a href="Category-Short_description_matches_Wikidata.html"
                            title="Category:Short description matches Wikidata">Short description matches
                            Wikidata</a></li>
                    <li><a href="Category-Articles_needing_additional_references_from_May_2014.html"
                            title="Category:Articles needing additional references from May 2014">Articles needing
                            additional references from May 2014</a></li>
                    <li><a href="Category-All_articles_needing_additional_references.html"
                            title="Category:All articles needing additional references">All articles needing
                            additional references</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>