<table class="infobox scotus" style="width:22em;line-height: 1.3em">
    <tbody>
        <tr>
            <th colspan="2" class="fn"
                style="text-align:center;font-size:125%;font-weight:bold;background-color: #99c0ff; padding: 0.2em; line-height:1.3em; font-style: italic">
                Nix v. Hedden</th>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center"><a href="File-Seal_of_the_United_States_Supreme_Court.svg.html"
                    class="image" title="Seal of the United States Supreme Court"><img
                        alt="Seal of the United States Supreme Court"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Seal_of_the_United_States_Supreme_Court.svg/100px-Seal_of_the_United_States_Supreme_Court.svg.png"
                        decoding="async" width="100" height="100"
                        srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Seal_of_the_United_States_Supreme_Court.svg/150px-Seal_of_the_United_States_Supreme_Court.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Seal_of_the_United_States_Supreme_Court.svg/200px-Seal_of_the_United_States_Supreme_Court.svg.png 2x"
                        data-file-width="720" data-file-height="720" /></a>
                <div>
                    <div style="padding:3px 0;"></div><b><a href="Supreme_Court_of_the_United_States.html"
                            title="Supreme Court of the United States">Supreme Court of the United
                            States</a></b>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center;background-color: #99c0ff; white-space:nowrap">
                Submitted April 24, 1892<br />Decided May 10, 1893</th>
        </tr>
        <tr>
            <th scope="row">Full case name</th>
            <td><i>John Nix, John W. Nix, George W. Nix, and Frank W. Nix v. Edward L. Hedden,
                    Collector of the Port of New York</i></td>
        </tr>
        <tr>
            <th scope="row">Citations</th>
            <td>149 <a href="United_States_Reports.html" title="United States Reports">U.S.</a> <a rel="nofollow"
                    class="external text" href="https://supreme.justia.com/us/149/304/case.html">304</a> (<i><a
                        href="List_of_United_States_Supreme_Court_cases,_volume_149.html"
                        title="List of United States Supreme Court cases, volume 149">more</a></i>)
                <div>13 S. Ct. 981; 37 <a href="L._Ed..html" class="mw-redirect" title="L. Ed.">L.
                        Ed.</a> 745; 1893 <a href="U.S._LEXIS.html" class="mw-redirect" title="U.S. LEXIS">U.S.
                        LEXIS</a> 2303</div>
            </td>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center;background-color: #99c0ff; white-space:nowrap">
                Case history</th>
        </tr>
        <tr>
            <th scope="row">Prior</th>
            <td>Judgment for defendant, 39 <a href="Federal_Reporter.html" title="Federal Reporter">F.</a>
                109 (C.C. S.D.N.Y. 1889)</td>
        </tr>
        <tr>
            <th scope="row">Subsequent</th>
            <td>None</td>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center;background-color: #99c0ff; white-space:nowrap">
                Holding</th>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">Tomatoes are "vegetables" and not "fruit"
                within the meaning of the Tariff Act of 1883 based on the common meaning of those
                words.</td>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center;background-color: #99c0ff; white-space:nowrap">
                Court membership</th>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <dl style="margin:0; padding:0.1em 0.5em; text-align:center; line-height:1.3em;">
                    <dt style="margin:0;">Chief Justice</dt>
                    <dd style="margin:0 0 0.3em;"><a href="Melville_Fuller.html" title="Melville Fuller">Melville
                            Fuller</a>
                    </dd>
                    <dt style="margin:0;">Associate Justices</dt>
                    <dd style="margin:0;"><a href="Stephen_Johnson_Field.html" title="Stephen Johnson Field">Stephen J.
                            Field</a>&#160;<b>&#183;</b>&#32; <a href="John_Marshall_Harlan.html"
                            title="John Marshall Harlan">John M. Harlan</a><br /><a href="Horace_Gray.html"
                            title="Horace Gray">Horace
                            Gray</a>&#160;<b>&#183;</b>&#32; <a href="Samuel_Blatchford.html"
                            title="Samuel Blatchford">Samuel Blatchford</a><br /><a href="David_Josiah_Brewer.html"
                            title="David Josiah Brewer">David J.
                            Brewer</a>&#160;<b>&#183;</b>&#32; <a href="Henry_Billings_Brown.html"
                            title="Henry Billings Brown">Henry B. Brown</a><br /><a href="George_Shiras_Jr..html"
                            title="George Shiras Jr.">George Shiras
                            Jr.</a>&#160;<b>&#183;</b>&#32; <a href="Howell_Edmunds_Jackson.html"
                            title="Howell Edmunds Jackson">Howell E. Jackson</a>
                    </dd>
                </dl>
            </td>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center;background-color: #99c0ff; white-space:nowrap">
                Case opinion</th>
        </tr>
        <tr>
            <th scope="row">Majority</th>
            <td>Gray, joined by <i>unanimous</i></td>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center;background-color: #99c0ff; white-space:nowrap">
                Laws applied</th>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center"><a href="Tariff_Act_of_1883.html" class="mw-redirect"
                    title="Tariff Act of 1883">Tariff Act of 1883</a> (Mongrel
                Tariff)</td>
        </tr>
    </tbody>
</table>